@media all and (max-width: 767px){
  textarea{
    width: 85%;
  }


@media not screen, (max-width:400px){
    textarea{  width: 60%;
    }


@media all and (max-width: 750px){
  textarea{
    width: 80%;
  }


@media all and (max-width: 650px){
  textarea{
    width: 70%;
  }

header{
    font-family: "Permanent+Marker", Cursive;
    width: 100%;
    text-align: center;
    color: white;
    height: 150px;
    padding: 50px 0px;
    background-color: #009bc7;
}
h3, p{
      font-family: "Droid+Serif", Serif;


}
textarea {
 background: url("rule.png") repeat-y;
 width: 600px;
 height: 300px;
 font: normal 14px verdana;
 line-height: 25px;
 padding: 2px 10px;
 border: solid 1px #ddd;

}
