body {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  background-color: #FFE6CC;
  font-size: 1em;
}

h1 {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  color: #E65C00;
  margin-top: -95px;
  margin-bottom: 30px;
  padding: 0%;
}

p {
  font-family: arial;
  font-size: 1.1em;
  margin-top: 3%;
  color:white;
  letter-spacing: .05em;
}

textarea {
  font-family: tahoma;
  font-size: 16px;
  line-height: 130%;
  width: 630px;
  height: 200px;
  rows: 15;
  cols: 80;
}

section {
  background-color:#19A3A3;
  padding: 5%;
  margin-bottom: 100px;
}

.top-margin {
  margin-top: 15%;
}

figure img {
  max-width: 630px;
}
